*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: radial-gradient(#fff , #ffd6d6) ;

}
.header{
    margin-bottom: 100px;

}
.sports{
    border-spacing:10px;
}
.product1-a{
font-size: 30px;
font-style: italic;
padding-left: 110px;
position: relative;
line-height: 60px;
color: #555;
}
.product1-a::after{
    content: ;
    border: 2px;
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);


}
td{
    font-size: 16px;
}
.col-1{
    flex-basis: 25%;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform o.5s;
}
.col-1 img{
    width: 230px;
    height: 290px;
}
h4{
    color: #555;
    font-weight: normal;
}
.col-1 p{
    font-size: 14px;
}
.rating .fa-solid{
color: #ff523b;
}
.col-1:hover{
    transform: translateY(-7px);
}

.more{
    padding-bottom: -70px;
    text-align: right;
    padding-right: 120px;
    font-size: 23px;
    
}
.more a{
    text-decoration: none; 
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}

.more a:hover{
    color: #ff523b;

}
.back{
    color: #555;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    
}

.back a:hover{
    color: #ff523b;

}
.navbar{

    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
    font-family: 'Poppins', sans-serif;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

/*--------footer------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    font-family: 'Poppins', sans-serif;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    padding-bottom: 20px;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin-right: 45px;
    margin-bottom: 15px;
}
.footer-col-1, .footer-col-2 , .footer-col-3 , .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    margin-bottom: 50px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
    margin-top: -155px;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
    
}  

.footer-col-3  {
float: right;   
 text-align: center;
 margin-top: -130px;

    } 
.footer-col-4{
    float: right;
    margin-top: -130px;
 text-align: center;
padding-right: 300px;
} 

.copyright{
    text-align: center;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}







