body{
    background: radial-gradient(#fff , #ffd6d6) ;

    background-size: 280%;
    background-position: -400px 0[x];
}
*{
    margin: 0;
    padding: 0;
}
.main{
     width: 400px;
     margin: 50px auto 0px auto;
padding-bottom: 230px;
}

h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
.registration{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    color: #fff;
}
#register{
    margin: 40px;
}
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}
input{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
font-weight: 600;
border-radius: 3px;
background-color: rgba(250, 100, 0, 0.8);
color: #fff;
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 1px 1px 5px rgba(0, 0, 0, 03);
margin-bottom: 20px;
}
label,span,h2 {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    
}
.radio{
width: 20px;
}
a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
padding-bottom: 30px;
font-size: 16px;
}
a:hover{
  color:   rgba(250, 100, 0, 0.8);
}
.contact{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 37px;
}
h3{
    font-family: sans-serif;
    font-weight: 150;
}
p{
    font-weight: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.navbar{

    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
    font-family: 'Poppins', sans-serif;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

/*--------footer------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    font-family: 'Poppins', sans-serif;
}
.footer p{
    color: #8a8a8a;
}
.heading{
    
    color: #fff;
    padding-bottom: 20px;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 30px 0;
}
.footer-col-1, .footer-col-2 , .footer-col-3 , .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    margin-bottom: 50px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
    margin-top: -155px;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
    
}  

.footer-col-3  {
float: right;   
 text-align: center;
 margin-top: -130px;

    } 
.footer-col-4{
    float: right;
    margin-top: -130px;
 text-align: center;
padding-right: 300px;
}

.copyright{
    text-align: center;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.footer h3{
    color: #ddd;
    font-weight: 100px;
}









